<div class="container mt-4">
    <div class="row sarabun-regular" >
    <div class="col-md-6">
        <div class="card shadow" >
            <img src="https://cdna.artstation.com/p/assets/images/images/078/012/592/large/marie-magny-gpkvbxtb0aajusd-copie.jpg?1720965900" class="card-img-top" alt="..." ">
            <div class="card-body">
              <h5 class="card-title">Game</h5>
              <p class="card-text">เป็นลักษณะของกิจกรรมของมนุษย์เพื่อประโยชน์อย่างใดอย่างหนึ่ง เช่น เพื่อความสนุกสนานบันเทิง เพื่อฝึกทักษะ และเพื่อการเรียนรู้ เป็นต้น และในบางครั้งอาจใช้เพื่อประโยชน์ทางการศึกษาได้</p>
              <a href="index2.html" class="btn btn-primary">หน้าแรก</a>
            </div>
          </div>
    </div>
   
</div>
</div>